<!DOCTYPE html>
<html>
<head>
  <title>MEAN Task Manager</title>
</head>
<body>
  <div class='container'>
    <h1 id='task-page-header'>Here, you can delete or edit your task!</h1>

    <form>
      <input id='title-edit-field' type='text' name='title' class='form-control' value=''>
      <input id='description-edit-field' type='text' name='description' class='form-control' value=''>

      <button id='confirm-button' type='submit' class='btn btn-primary'>Confirm</button>
      <button id='cancel-button' type='button' class='btn btn-primary'>Cancel</button>
    </form>
  </div>
</body>
</html>