#title-edit-field {
    margin-bottom: 10px;
    width: 100%;
}
  
#description-edit-field {
    margin-bottom: 10px;
    width: 100%;
}

#confirm-button {
    margin-right: 5px;
}
  
#cancel-button {
    margin-right: 5px;
}