<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>

    <table>
      <tr>
        <th>Title</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Withdraw money.</td>
        <td>Withdraw 1000 dollars to pay rent.</td>
      </tr>
      <tr>
        <td>Send email to Oliver.</td>
        <td>Send an email to Oliver about the trip to Brazil.</td>
      </tr>
    </table>

    <button>Add New Task</button>
  </body>
</html>
