<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>

    <p>Title: </p>
    <input type="text"><br>

    <p>Description: </p>
    <input type="text"><br>

    <button>Add New Task</button>

    <table>
      <tr>
        <th>Title</th>
        <th>Description</th>
      </tr>      
      <% for(var i=0; i < tasks.length; i++) { %>
        <tr>
          <td><%= tasks[i].title %></td>
          <td><%= tasks[i].description %></td>
        </tr>
      <% } %>
    </table>
  </body>
</html>
