<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>

    <form method='POST', action="/">
      <p>Title: </p>
      <input type='text' name='title'><br>
  
      <p>Description: </p>
      <input type='text' name='description'><br>
  
      <button type='submit'>Add New Task</button>
    </form>

    <table>
      <tr>
        <th>Title</th>
        <th>Description</th>
      </tr>      
      <% for(var i=0; i < tasks.length; i++) { %>
        <tr>
          <td><%= tasks[i].title %></td>
          <td><%= tasks[i].description %></td>
        </tr>
      <% } %>
    </table>
  </body>
</html>
