<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css'/>
</head>
<body>
  <h1><%= task_title %></h1>
  <p><%= task_description %></p>

  <button class="btn btn-danger">Delete</button>
</body>
</html>
