<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css'/>
</head>
<body>
  <div class='container'>
    <h1 id='task-page-header'>Here, you can delete or edit your task!</h1>

    <form method='POST' action='/<%= task_id %>'>
      <input id='title-edit-field' type='text' name='title' class='form-control' value='<%= task_title %>'>
      <input id='description-edit-field' type='text' name='description' class='form-control' value='<%= task_description %>'>
      
      <div class='btn-group' role='group'>
          <button id='confirm-button' type='submit' class='btn btn-primary'>Confirm</button>
          <button id='cancel-button' class='btn btn-primary'>Cancel</button>
          <button id='delete-task-button' type='submit' class='btn btn-danger'>Delete Task</button>
      </div>
    </form>
  </div>
</body>
</html>
