<!DOCTYPE html>
<html>
  <head>
    <title>MEAN Task Manager</title>
  </head>
  <body>
    <div class='container'>
      <h1 id='main-header'>Welcome to MEAN Task Manager</h1>

      <form>
        <input id='title-field' type='text' class='form-control' name='title' placeholder='Title' >

        <input id='description-field' type='text' class='form-control' name='description' placeholder='Description'>

        <button id='submit-button' type='button' class='btn btn-primary' (click)='addNewTask()'>Add New Task</button>
      </form>

      <div class='column'>
        <h1>Open Tasks</h1>
          <div class='row' *ngFor='let task of tasks | status:false'>
              <div id='open-task' class="card card-inverse">
                <div class="card-block">
                  <h3 style='padding-top:10px; padding-left:10px'>{{task.title}}</h3>
                  <p style='padding-top:10px; padding-left:10px'>{{ task.description }}</p>
                      
                  <button id='mark-as-done-button' class='btn btn-primary'>Mark as Done</button>
                  <button id='edit-button' class='btn btn-primary'>Edit</button>
                </div>
              </div>
          </div> 
      </div>

      <div class='column'>
        <h1>Finished Tasks</h1>
          <div class='row' *ngFor='let task of tasks | status:true'>
              <div id='finished-task' class='card card-inverse'>
                  <div class="card-block">
                    <h3 style='padding-top:10px; padding-left:10px'>{{task.title}}</h3>
                    <p style='padding-top:10px; padding-left:10px'>{{ task.description }}</p>

                    <button id='remove-button' class='btn btn-primary'>Remove</button>
                  </div>
                </div>
          </div>
      </div>
    </div>
  </body>
</html>
